USE [schooldb]
GO
/****** Object:  Table [dbo].[students]    Script Date: 13/05/2026 10:07:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (1, N'Hoàng Trường Ân', N'anzhoang28@gmail.com', 21)
INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (2, N'Tạ Quang Khánh', N'khanh.ta05@gmail.com', 21)
INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (3, N'Trần Nguyễn Thanh Thùy', N'thuy.tran203@gmail.com', 21)
SET IDENTITY_INSERT [dbo].[students] OFF
GO
