USE [schooldb]
GO

-- 1. Xóa bảng cũ nếu tồn tại để reset sạch sẽ
IF OBJECT_ID('[dbo].[students]', 'U') IS NOT NULL DROP TABLE [dbo].[students];
GO

-- 2. Tạo bảng với hỗ trợ Unicode (NVARCHAR)
CREATE TABLE [dbo].[students](
    [id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [name] [nvarchar](100) NOT NULL, -- NVARCHAR để lưu tiếng Việt
    [email] [varchar](100) NULL,
    [age] [int] NULL
);
GO

-- 3. Thêm dữ liệu mẫu xịn
SET IDENTITY_INSERT [dbo].[students] ON;
INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES 
(1, N'Hoàng Trường Ân', N'an28@gmail.com', 20),
(2, N'Tạ Quang Khánh', N'khanh05@gmail.com', 21),
(3, N'Trần Nguyễn Thanh Thùy', N'tthuy203@gmail.com', 19),
(4, N'Võ Chí Kiên', N'chikien01@gmail.com', 22),
(5, N'Nguyễn Minh Anh', N'minhanh@gmail.com', 20),
(6, N'Lê Thùy Dương', N'thuyduong@gmail.com', 18),
(7, N'Phạm Gia Bảo', N'giabao@gmail.com', 21),
(8, N'Đặng Minh Khôi', N'minhkhoi@gmail.com', 20);
SET IDENTITY_INSERT [dbo].[students] OFF;
GO